<div class="container">
    <h1>Registro de Usuario</h1>
    
<form (ngSubmit)="registrar()">
    <label for="nombre">Nombre: <br>
        <input
        type="text"
        [(ngModel)]="nombre"
        name="nombre"
        required
        placeholder="Ingresa tu nombre"
        >
    </label>

    <label for="apellido">Apellido: <br>
        <input
        type="text"
        [(ngModel)]="apellido"
        name="apellido"
        required
        placeholder="Ingresa tu apellido"
        >
    </label>

    <label for="correo">Correo Electrónico: <br>
    <input type="email"
    [(ngModel)]="email"
    name="email"
    required
    placeholder="Ingresa tu correo electrónico"
    >
    </label>

    <label for="contraseña">Contraseña: <br>
        <input type="password"
        [(ngModel)]="ps"
        name="ps"
        required
        placeholder="Ingresa tu contraseña"
        >
    </label>


    <button type="submit">
      Registrarse
    </button>
</form>

<p *ngIf="mensaje" style="color: green;">
{{ mensaje }}
</p>


<p *ngIf="error" style="color: red;">
{{ error }}
</p>

<button [routerLink]="['/evento']">
    VOLVER
</button>

</div>