<div class="container">
    <h1>Crear Evento</h1>

    <form (ngSubmit)="crearEvento()">
        <label for="nombre">Nombre del Evento: <br>
        <input type="text"
            required
            [(ngModel)]="nombre"
            name="nombre"
            placeholder="Ingresa el nombre del evento"
        >
    </label>

    <label for="descripcion">Descripción del Evento: <br>
        <textarea
            required
            [(ngModel)]="descripcion"
            name="descripcion"
            placeholder="Ingresa la descripción del evento">
        </textarea>

    </label>

    <label for="fecha">Fecha del Evento: <br>
        <input
        type="date"
        required
        [(ngModel)]="fechaEvento"
        name="fechaEvento"
        >
    </label>

    <br><br>
    <label>
        Creador (correo): <br>
        <input
            type="text"
            required
            [(ngModel)]="creador"
            name="creador"
        >
    </label>

    <button type="submit">
      Crear Evento
    </button>
    </form>


    
</div>