@font-face {
  font-family: "Patria";
  src: url("../fonts/Patria_Bold.otf");
}

@font-face {
  font-family: "Texto";
  src: url("../fonts/NotoSans_Condensed-Black.ttf");
}


.container {
    max-width: 1020px;
    min-height: 100vh;
    margin: 60px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

h1{
    text-align: center;
    color: #7A1F2B;
    margin-bottom: 100px;
    font-weight: 600;
    font-family: 'Patria', sans-serif;
}

h2{
    color: #161a1d;
    margin-bottom: 25px;
    font-weight: 600;
    font-family: 'Patria', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    display: flex;
    padding: 8px 60px;
}


.evento{
    background: #98989A;
    width: 350px;
    height: 100px;
    display: flex;          
    justify-content: center;   
    align-items: center;   
    border-radius: 8px;
    margin-bottom: 20px;
}

.grid-eventos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
    margin-top: 30px;
}

.card-evento {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card-evento:hover{
    transform: translateY(-5px);
}

.btn-asistir{
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #7A1F2B;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-asistir:hover{
    background-color: #5C1720;
}

.confirmado-box{
    background: #d4edda;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
    font-weight: bold;
    color: #155724;
}

.btn-cancelar{
    margin-top: 8px;
    padding: 6px 12px;
    background-color: #c82333;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-cancelar:hover{
    background-color: #a71d2a;
}